.bundleBuilder-accordionStep {
  border: none;
  border-bottom: 1px solid #1F1F1F;
  border-radius: 0;
}

.bundleBuilder-accordionStep:last-child {
  border-bottom: none;
}

.bundleBuilder-accordionStep.bundleBuilder-accordionStep--open {
  background: #EDF4FF;
  border-radius: 10px;
  border-bottom: none;
  margin: 8px;
  overflow: hidden;
}

.bundleBuilder-accordionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 15px 0px;
  text-align: left;
  font: inherit;
  color: inherit;
}

.bundleBuilder-stepEyebrowRow {
  width: 100%;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
    border-bottom: 0.5px solid #1F1F1F;
}


.bundleBuilder-accordionHeaderLeft {
  padding: 0px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.bundleBuilder-stepEyebrow {
  font-size: 12px;
  font-weight: 400;
  color: #484848;
  text-transform: uppercase;
}

.bundleBuilder-stepTitleRow {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0px;
}

.bundleBuilder-stepIcon {
  flex-shrink: 0;
}

.bundleBuilder-accordionChevron {
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.bundleBuilder-accordionChevron--up {
  transform: rotate(0deg);
}

.bundleBuilder-stepTitle {
  font-size: 22px;
  font-weight: 400;
  color:#0B0D10;
}

.bundleBuilder-accordionHeaderRight {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4E2FD2;
  flex-shrink: 0;
}

.bundleBuilder-selectedCount {
  font-size: 14px;
  font-weight: 400;
  color: #4E2FD2;
}

.bundleBuilder-accordionBody {
  padding: 0 0px 20px;
  background: transparent;
}

.bundleBuilder-productGrid {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bundleBuilder-productGrid {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
}

@media (max-width: 420px) {
  .bundleBuilder-productGrid {
    grid-template-columns: 1fr;
  }
}

.bundleBuilder-nextButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bundleBuilder-nextButton {
  background: transparent;
  color: #4E2FD2;
  border: 1px solid #4E2FD2;
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.bundleBuilder-nextButton:hover {
  background: #4a3fd0;
}
